@model IEnumerable<TamiProjectA.Models.line_item>

@{
    ViewData["Title"] = "Home Page";
}


@*<div class="row">*@

    @*@foreach (var item in Model)
    {
        <div>
            <h3>@Html.DisplayFor(modelItem => item.order_id)</h3>
            <h3>@Html.DisplayFor(modelItem => item.description)</h3>*@

            @*<h3>@item.date_added</h3>
            <h3>@item.description</h3>
            <h3>@item.line_item_id</h3>*@

        @*</div>
    }*@





    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>

        </ul>
    </div>

@*</div>*@
